.hobbies-container {
    text-align: center;
}
.interests-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.interests-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 20px; /* space between columns and rows */

}

.slide {
    position: absolute;
    top: 0;
    left: -100%; /* start off-screen left */
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%); /* Start off-screen right */
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.slides-wrapper {
    position: relative;
    width: 100%;
    height: 400px; /* match image height */
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.slides-wrapper:hover {
    transform: scale(1.05);
}

.slide.active {
    left: 0;
    opacity: 1;
    transform: translateX(0);
}

.slideshow-container {
    position: relative;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

.slideshow-container img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    height: 300px;
}



@media (max-width: 1120px) {
    .interests-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}